!!!
%html
	%head
		%title moneybook
		%link(rel="stylesheet" href="/css/styles.css")
	%body
		%form{ :action=> "/add", :method => "post"}
			%fieldset
				%ul
					%li
						%input{:type => "text",:name => "where",  :placeholder=>"where"}
					%li
						%input{:name => "cost", :placeholder=>"cost"}
					%li
						%input{:type => "submit"}
		
